.about{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 2%;
    /* gap:3rem; */
    height: 90vh;
    position: relative;
    

    .inside-about{
        /* margin-top: 10rem; */
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        /* border: 2px solid lightgrey; */
        padding: 3% 7%;
        /* gap:5rem; */
        /* height: 60%; */
        width: 85%;
        border-radius: 80px;
        color: white;
        position: relative;
        height: fit-content;
        /* background: linear-gradient(rgb(247, 192, 90),rgb(154, 108, 23)); */



        .profile-pic{
            position: absolute;
            /* top: 80%; */
            top: 8vh;
            
            img{
                height: 250px;
                width: 250px;
                border-radius: 50%;
                object-fit: cover;
                /* padding: 5px; */
                /* background: linear-gradient(rgb(223, 194, 140),rgb(242, 158, 2)); */
                box-shadow: 0px 5px 50px 10px rgb(252, 196, 93);
                z-index: 999;
                background-color: white;
            }
          
        }


    .content{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 25vh;
        padding: 4rem;
        padding-top: 8rem;
        border-radius: 20vw;
        border: 1px solid lightgray;
        height: fit-content;
         /* background-color: black; */
         z-index: -1;
         background: linear-gradient(rgb(247, 192, 90),rgb(154, 108, 23)); 
        p{
            font-size: 18px;
            word-spacing: 0.2rem;
            letter-spacing: 0.08rem;
            padding: 2rem;
            text-align: center;
            /* line-gap-override: 2rem; */
        }
    }


    }


    @media (max-width:900px){
       .inside-about{
        margin: 20vh;

        .content{
            border-radius: 10vw;
            padding: 8rem 2vh 1vh 1vh;
           
        }
       }
    }

   
}


@media (max-width:900px) {
    .about{
        height: fit-content;
    }
    
}